<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HotelDb"
         connectionString="Server=localhost,1433;Database=HotelManagement;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
